@charset "UTF-8";
:root {
  font-family: roboto,sans-serif; }

a {
  text-decoration: none;
  color: black; }

/********************loader**************************/
.loader {
  background-color: #9356DC;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }

.loader__element::after {
  content: "";
  border: 20px;
  border-radius: 50%;
  border-top: #9356DC;
  border-bottom: #FF79DA;
  border-left: #99E2D0;
  border-right: #9356DC;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

/*************Header**********/
.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px; }

.logo img {
  width: 400px; }

.barresearch {
  background-color: #eaeaea;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 3% 3% 3% 22%;
  color: #353535;
  margin-bottom: 5px;
  font-size: xx-large; }

.barresearch1 {
  background-color: #EAEAEA;
  border: none;
  font-weight: bolder;
  padding-left: 10px;
  font-size: xx-large; }

.fond1 {
  background-color: whitesmoke;
  padding-bottom: 15%;
  padding-top: 4%; }

.dekstopscreen {
  visibility: hidden; }

.titlespace {
  text-align: center;
  font-size: 4rem; }

.subtitlespace {
  color: #353535;
  text-align: center;
  padding-bottom: 2%;
  font-size: 1.8rem;
  font-weight: 300; }

.buttonexplore {
  border-radius: 5rem;
  border: none;
  width: 50%;
  text-align: center;
  padding: 30px;
  margin-left: 22%;
  font-size: 2rem;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 123%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25); }
  .buttonexplore a {
    text-decoration: none;
    color: white; }
  .buttonexplore:hover {
    filter: brightness(1, 1);
    background: linear-gradient(0deg, #a978e3 -11%, #ffa2e5 123%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

/*********************FONCTIONNEMENT********************/
.spacetitletape {
  margin: 50px;
  font-size: xx-large; }

.etapecommande {
  display: flex;
  flex-direction: column;
  gap: 55px;
  text-align: center;
  align-items: center; }

.btnetape {
  display: flex;
  background: #F6F6F6;
  justify-content: space-between;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  font-size: x-large;
  width: 90%;
  align-items: center;
  height: 125px;
  gap: 2%; }
  .btnetape:hover {
    cursor: pointer; }

.btnetape:hover .icon {
  color: #9356DC; }

.btnetape .ordrebtnText {
  width: 100%;
  text-align: left; }

.btnetape .ordrebtnText i {
  margin-right: 10px; }

.icon {
  color: #7E7E7E;
  padding-right: 0px;
  margin-left: 6%; }

.ordrebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  color: white;
  border-radius: 50%;
  background: #9356DC;
  margin-left: -5%; }

/**************************Restaurants************************/
.fond2 {
  background-color: whitesmoke;
  margin-top: 12%; }

.fond2 h1 {
  padding-top: 100px;
  margin-bottom: -50px;
  margin-left: 80px;
  font-size: 50px; }

.spacerestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 70px;
  padding: 10% 0% 20% 0%; }

.cardresto img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 320px; }

.cardresto {
  border-radius: 25px;
  background-color: white;
  width: 85%;
  font-size: 1.6em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative; }

.spacesubtitlerestaurants {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  position: relative; }

.cardresto h3 {
  margin-top: 15px;
  margin-left: 20px; }

.cardresto p {
  margin-top: -30px;
  margin-left: 20PX;
  font-weight: 300; }

.badgenew {
  border: none;
  background-color: #99E2D0;
  color: #008766;
  text-align: center;
  padding: 6PX 10px;
  position: absolute;
  margin-top: 6px;
  right: 9%; }

/*  COEUR */
.btn-coeur {
  cursor: pointer; }
  .btn-coeur__vi {
    position: absolute;
    font-weight: 100;
    z-index: 2; }
  .btn-coeur__pl {
    position: absolute;
    z-index: 0;
    background: linear-gradient(176deg, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .btn-coeur--home {
    font-size: 1.5em;
    width: 49px;
    height: 45px;
    top: 25px;
    right: 24px; }
    .btn-coeur--home::after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: white; }
  .btn-coeur--menu {
    font-size: 2.5em;
    width: 60px;
    height: 60px;
    top: 50px;
    right: 88px; }
    .btn-coeur--menu::after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #F6F6F6; }
  .btn-coeur:hover::after {
    transform: scaleY(0); }
  .btn-coeur:hover .btn-coeur__vi {
    opacity: 0; }
  .btn-coeur:hover .btn-coeur__pl {
    transform: scale(1); }
  .btn-coeur--home, .btn-coeur--menu {
    position: absolute; }
    .btn-coeur--home::after, .btn-coeur--menu::after {
      content: "";
      position: absolute;
      transition: transform 500ms cubic-bezier(0.55, 1.2, 0.93, 1);
      transform-origin: top;
      opacity: 1;
      z-index: 1; }

/********************************footer**************************/
.fond3 {
  background: #353535;
  margin-top: -30px;
  padding-left: 70PX;
  height: 470px; }

.fond3 p {
  font-family: Shrikhand;
  color: white;
  font-style: italic;
  font-size: 3rem;
  padding: 70px 0px 22px 0px;
  margin-top: -50px; }

.spacefooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem; }

.spacefooter a {
  font-size: 2.5rem;
  color: white;
  text-decoration: none; }

.spacefooter2 {
  padding-right: 20px; }

/********************************************Page Restaurants********************************************/
/********************************header******************************/
.backaccueil {
  font-size: 45px;
  color: #353535;
  margin-top: 40px;
  margin-left: 40px; }

.logo2 {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 30px; }

.logo2 img {
  width: 350px; }

.photorestaurant1 img {
  width: 100%;
  object-fit: fill; }

/********************************carte menu*************************/
.cardmenu {
  border-radius: 45px 45px 0px 0px;
  background-color: #F6F6F6;
  margin-top: -130PX;
  opacity: 99%; }

.spacetitle2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 100px;
  align-items: center;
  position: relative; }

.spacetitle2 p {
  font-size: 2.5rem;
  text-align: center;
  font-family: shrikhand; }

.partierepas {
  font-size: 2rem;
  margin-left: 20px; }

.partierepas span {
  margin-bottom: 0px; }

.partierepas .underline {
  border-bottom: 5px solid #99e2d0;
  width: 65px;
  margin-top: 10px; }

.detailplat p {
  margin-top: -20px; }

.detailplat h4 {
  padding-top: 55px; }

.spacesubtitleetape {
  padding: 30px 0px 80px 0px; }

.fond4 {
  background-color: #F6F6F6;
  height: 200px; }

.buttoncommande {
  border-radius: 5rem;
  border: none;
  width: 30%;
  text-align: center;
  padding: 30px;
  margin-left: 32%;
  font-size: 2rem;
  background: linear-gradient(0deg, #9356DC -11%, #FF79DA 123%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25); }
  .buttoncommande a {
    text-decoration: none;
    color: white; }
  .buttoncommande:hover {
    filter: brightness(1, 1);
    background: linear-gradient(0deg, #a978e3 -11%, #ffa2e5 123%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.menu-plat {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 95%;
  margin: auto;
  border-radius: 16px;
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 14px 22px 12px 11px;
  cursor: pointer; }
  .menu-plat__titre {
    font-size: 35px;
    font-weight: bolder;
    width: 100%;
    transition: width 0.75s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
    margin-top: 15px; }
  .menu-plat__flex {
    display: flex;
    justify-content: space-between;
    margin-right: 6px;
    font-size: 0.95em;
    margin-top: 5px; }
    .menu-plat__flex .compo {
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      transition: width 0.75s;
      margin-top: -15px;
      font-size: 32px;
      margin-left: 20px; }
    .menu-plat__flex .prix {
      font-weight: 500;
      padding-left: 3px;
      transition: transform 0.5s 0.05s;
      font-size: 35px;
      margin-top: -15px; }
  .menu-plat__anim {
    position: absolute;
    background: #99E2D0;
    right: -80px;
    top: 0;
    width: 80px;
    height: 100%;
    transition: transform 0.5s;
    text-align: center; }
    .menu-plat__anim .verif {
      color: white;
      font-size: 1.35em;
      line-height: 100px;
      margin-top: 35%; }
  .menu-plat__liste {
    list-style-type: none;
    font-weight: 300; }
  .menu-plat:hover .menu-plat__titre {
    width: calc(100% - 80px); }
  .menu-plat:hover .menu-plat__anim {
    transform: translateX(-80px); }
  .menu-plat:hover .compo {
    width: calc(100% - 80px); }
  .menu-plat:hover .prix {
    transform: translateX(-80px); }

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* DEKSTOP */
@media (min-width: 1024px) {
  .phonescreen {
    visibility: hidden; }
  .dekstopscreen {
    visibility: visible; }
  .buttonexplore {
    margin-top: -350px;
    width: 25%;
    margin-left: 35%;
    margin-bottom: -150px; }
  .etapecommande {
    flex-direction: row; }
  .ordrebtn {
    margin-left: -3%; }
  .spacerestaurants {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
    row-gap: 110px; }
  .cardresto {
    width: 45%; }
  .cardmenu {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2.5%; }
  .spacetitle2 p {
    width: 100%; } }
