:root {
    font-family: roboto,sans-serif;
    

}


/*************Header**********/

.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.barresearch {
    background-color:#EAEAEA;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3% 3% 3% 22%;
    color:  #353535;
    margin-bottom: 5px;
    font-size: xx-large;
}
.barresearch1 {
    background-color: #EAEAEA;
    border: none;
    font-weight: bolder;
    padding-left: 10px;
    font-size: xx-large;
}
.fond1 {
    background-color: whitesmoke;
    padding-bottom: 15%;
    padding-top: 4%;
    
}
.titlespace {
    text-align: center;
    font-size: 4rem;
}
.subtitlespace{
   color: #353535;
   text-align: center;
   padding-bottom: 2%;
   font-size: 1.8rem;
   font-weight: 300;
   
}
.buttonexplore{
    border-radius: 5rem;
    border: none;
    width: 50%;
    text-align: center;
    padding: 30px;
    margin-left: 22%;
    font-size: 2rem;
    background: linear-gradient(0deg, #9356DC -11%, #FF79DA 123%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);


& a{
        text-decoration: none;
        color: white;

}
&:hover {
    filter: brightness(1,1);
    background: linear-gradient(0deg, #a978e3 -11%, #ffa2e5 123%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}
}

/*********************FONCTIONNEMENT********************/
.spacetitletape {
    margin: 50px;
    font-size: xx-large;

}

.etapecommande {
   display: flex;
   flex-direction: column;
   gap: 55px;
   text-align: center;
   align-items: center;
}

.btnetape {
    // border-radius: 50px;
    // background-color: #f6f6f6;
    // border: transparent;
    // padding: 65PX;
    // width: 70%;
    // font-size: xx-large;
    // margin-left: -20px;
    // box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;

    display: flex;
    background: #F6F6F6;
    justify-content: center;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    font-size: x-large;
    width: 90%;
    align-items: center;

    height: 125px;
    gap: 2%;

    &:hover {
        cursor: pointer;
    }
}
.icon {
    color:#7E7E7E;
    padding-right: 0px;
    margin-left: 6%;

    &:hover {
        color: #9356DC;
    }

    // &__list {
    //     padding-right: 35px;
    //     color: #7E7E7E;

    // }

    // &__purple {
    //     color: #9356DC;
    //     padding-right: 35px;
    // }
}

.ordrebtn {
    // height: 4rem;
    // width: 4rem;
    // border-radius: 2rem;
    // background-color: #9356DC;
    // border: transparent;
    // text-align: center;
    // color: white;
    // position: absolute;
    // left: 55px;
    // font-size: larger;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -10px;
    height: 45px;
    aspect-ratio: 1 / 1;
    color: white;
    border-radius: 50%;
    background: #9356DC;
}



/**************************Restaurants************************/

.fond2 {
    background-color: whitesmoke;
    margin-top: 12%;
}
.fond2 h1 { 
    padding-top: 100px;
    margin-bottom: -50px;
    margin-left: 80px;
    font-size: 50px;
}

.spacerestaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 70px;
    padding: 10% 0% 20% 0%;
    
}
.cardresto img {
    object-fit: cover;
    width: 100%;
     border-radius: 20px 20px 0px 0px; 
     height: 320px;

}
.cardresto {
    border-radius: 25px;
    background-color: white;
    width: 85%;
    height: 500px;
    font-size: xx-large;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.spacesubtitlerestaurants {

 display: flex;
 align-items: center; 
 justify-content: space-between;
 padding-right: 40px;
}

.cardresto h3 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 45px;
}
.cardresto p {
    margin-top: -30px;
    margin-left: 20PX;
    font-size: 40PX;
    font-weight: 300;
}
.positionfav {
    // position: relative;
    // left: 700px;
    // bottom: 140px;
    font-size: 70px;
    
   
    
   &:hover {
    color: magenta;
}
}

/********************************footer**************************/

.fond3 { 
    background: #353535;
    margin-top: -30px;
    padding-left: 70PX;
    height: 470px;
}
.fond3 p {
    font-family: Shrikhand ;
    color: white;
    font-style: italic;
    font-size: 3rem;
    padding: 70px 0px 22px 0px;
    margin-top: -50px;
    
}
.spacefooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}
.spacefooter a {
    font-size: 2.5rem;
    color:white;
    text-decoration: none;
}
.spacefooter2 {
    padding-right: 20px;
}


/********************************************Jay winningtone********************************************/

/********************************header******************************/
.backaccueil {
    font-size: 35px;
    color: #353535;
    margin-top: 35px;
    margin-left: 35px;
}
.logo2 {
   text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.photorestaurant1 img{
    width: 100%;
    object-fit: fill;
}

/********************************carte menu*************************/

.cardmenu {

    border-radius: 45px 45px 0px 0px;
    background-color:#F6F6F6;
    margin-top: -130PX;
    opacity: 99%;
}
.spacetitle2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 100px;
    align-items: center;
}

.spacetitle2 p {
    font-size: 4.5rem;
    font-family:shrikhand;
}
.icon2 {
    font-size: 4rem;
}

.animicon1{
    position: absolute;
    left: 810px;
    

   &:hover{
    color: linear-gradient(0deg, #9356DC -11%, #FF79DA 123%);

} }

.animicon2 {
    position: absolute;
    left: 810px;
    
    opacity: 0;
    
    &:hover{

    color:linear-gradient(0deg, #9356DC -11%, #FF79DA 123%);
   
    opacity: 1;

}

    }

.partierepas{
    font-size: 2rem ;
    margin-left: 20px;

    &::after{
        content: "";
        width: 5rem;
        height: 0.5rem;
        background-color: #99e2d0;
        position: absolute;
        bottom: 17.5rem;
        left: 1.8rem;
    }
}

.cardplat {
    border-radius: 25px;
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 20px 30px 20px;
}
.detailplat {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: xx-large;

}

.detailplat p {
    margin-top: -20px;
   
}

.detailplat h4 {
   padding-top: 55px;
}
 .spacesubtitleetape {
    padding: 30px 0px 80px 0px;
 }
 .fond4 {
    background-color:#F6F6F6;
    height: 200px;

 }

 .buttoncommande {
   
    border-radius: 5rem;
    border: none;
    width: 30%;
    text-align: center;
    padding: 30px;
    margin-left: 32%;
    font-size: 2rem;
    background: linear-gradient(0deg, #9356DC -11%, #FF79DA 123%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
 
& a{
    text-decoration: none;
    color: white;
    } 

&:hover {
    
    filter: brightness(1,1);
    background: linear-gradient(0deg, #a978e3 -11%, #ffa2e5 123%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    }
 }
 
